@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  overflow: hidden;
}

.container {
  max-width: 380px;
  max-height: 380px;
  margin: 300px auto;
  overflow: auto;
  min-height: 300px;
  border: 20px solid rgb(45, 49, 52);
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}


.status-button {
  display: block;
  float: center;
}

footer {
  margin-top: 30px;
  text-align: center;
}

#like-button {
  display: inline-flex;
  align-items: center;
}

#like-button span {
  margin-left: 8px;
}
